{% extends 'coding/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
{% include 'coding/header.html' %}
{% endblock %}

{% block jscss %} 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 border-bottom p-2" >
            <div style="display: flex; flex-direction: row;" class="">
                <a href="{% url 'overview' %}" class="btn btn-outline-secondary btn-sm mr-1 ">
                    Home
                </a>
                <a href="/superuser/create_mock/" class="btn btn-sm btn-outline-secondary">
                    Create Mock Test
                </a>
            </div>
        </div>

        <div class="col-12  mt-3">
            <div class="row">
                <div class="col-12 col-xl-3">
                    {% for d in series %}
                    <div class="card mb-1" style="border-left:4px solid #5BC0DE ;">
                        <div class="card-body" style="padding: 10px; margin-bottom: -12px;" >
                            <div  style="padding: 0px; display: flex; justify-content: space-between;">
                                <p>{{d.title}}</p>
                                <a onclick="return confirm('Are you sure you want to delete this item?');" href="/superuser/create_mock/delete/{{id}}/{{company}}/{{d.id}}/"><i class="fa fa-trash" ></i></a>
                            </div>
                            <div style="margin-top:-15px; ">
                                <p class="text-muted" style="font-size: 12px;"> {{d.questions.all.count}} Questions</p>
                            </div>
                            
                            </div>
                     
                    </div>
                    {% endfor %}
                </div>
                <div class="col-12 col-xl-9 border-left">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div style="display: flex; justify-content: flex-end;">
                            <button class="btn btn-sm btn-outline-secondary" >
                                Save
                            </button>
                        </div>
                        {% csrf_token %}
                        {{form|crispy}}
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>#</th>
                          
                            <th>Question</th>
                           <th>Topic</th>
                           <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in data%}
                        <tr>
                            
                            <td><input type="checkbox" name="list" value={{i.question_id}}></td>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.question|safe}}</td>
                            <td>{{i.topic}}</td>
                            <td>{{i.category}}</td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </table>
                    </form>
                <p>
                </p>
               
            </div>
        </div>
        </div>

     
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
    $('#example').DataTable( {
       
      
        order: [[ 1, 'asc' ]]
    } );
} );
</script>
{% endblock %}