{% extends 'coding/base.html' %}
{% load crispy_forms_tags %}
{% load shortcut %}
{% block navbar%}
{% include 'coding/header.html' %}
{% endblock %}
{% block style %}
.myboard{
    width:100%;
    
    background:none;
    outline:none;
    border:none;
   
    
}
.imge{
    width:40px;
    border-radius:100%;
}
.nav .active{
    border-bottom:2px solid orange;
}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-2 col-xl-2 ">
            <!--
            <div style="display: flex; justify-content: flex-start; align-items: flex-end;flex-direction: column; ">
                <h4>Categories</h4>
                {% for i in categories%}
                <div >
                <a>
                    {{i}}
                </a>
            </div>
                {% endfor %}
            </div>
            -->
        </div>
        <div class="col-12 col-md-8 col-xl-8 mt-5" >
            {% if messages %}
          
            {% for message in messages %}
            <p{% if message.tags %} class=" list-unstyled alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        
        {% endif %}
            <!-- Button trigger modal -->
            <div class="card shadow-sm" style="">
                <div class="card-body">
                    <div class="small">
                        <span class="badge  badge-secondary rounded-pill" style=" font-size:15px;">{{user.first_name|first}}</span> {{user.first_name}} {{user.last_name}}
                    </div>
 
                    <a type="button"  class="myboard mt-2" data-toggle="modal" data-target="#exampleModal" style="display: flex;  font-size: 18px; color:#808080; font-weight: 600; letter-spacing: 1px;">
                        Ask Some Questions..
                    </a>
                    <hr>
                    <div style="display: flex; justify-content:flex-start; font-size:12px ;" class="mt-2" >
                        <nav>
                            <div class="nav" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All Questions</a>
                              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Anwser</a>
                              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Tags</a>
                            </div>
                          </nav>
                    </div>
                </div>
            </div>
                
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ask</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <form method="POST" action="?flag=4" enctype="multipart/form-data">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{form|crispy}}
                            {{form.media}}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-sm btn-outline-primary ">POST</button>
                        </div>
                        </form>

                    </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                       <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel">
                       {% for data in questions %}
                       
                       <div class="card shadow-sm mb-2" id="question{{data.id}}">
                           <div class="card-body">
                               <div class="" style="display: flex; justify-content: space-between; align-items: center; flex-direction: row;">
                                <div style="display: flex; justify-content: flex-start; align-items: center;">
                                    <a href="/profile/{{data.user_name2}}/"> <img style="margin-top: -15px;" src="/media/{{data.user_name2.profile.avatar}}" class="imge">
                                    </a>
                                        <div style="display: flex; flex-direction: column;">
                                <div style="display: flex; justify-content: flex-start; padding-bottom:-10px; "> 
                                 <p style="font-size: 14px; margin-left: 10px; ">Asked by <a href="/profile/{{data.user_name2}}/"> {{data.user_name2.profile.first_name}} {{data.user_name2.profile.last_name}} </a>,</p>
                                 <p style="font-size: 12px; margin-left: 3px;  color:#808080;">{{data.time}}, {{data.date_Publish}}</p>
                                </div>
                                <div style="margin-top:-15px;"> 
                                    <p style="font-size: 12px; margin-left: 10px;  color:#808080;">{{data.user_name2.profile.headline}}, {{data.user_name2.profile.college}}</p>
                                </div>
                                </div>
                                   <!--
                                       <p style="font-size: 13px; margin-left: 10px; font-weight: 600;">{{data.user_name2.first_name}} {{data.user_name2.last_name}}</p>
                                   <p style="font-size: 13px; margin-left: 10px; font-weight: 600;">{{data.time}} {{data.date_Publish}}</p>
                                   -->
                                   
                                </div>

                                <div style="font-size: 13px;">
                                    <div class="dropdown show">
                                        <a style="margin-top: -20px;" class="btn btn-default rounded-pill" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i style="color:#808080;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                      
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size: 12px;">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                      </div>
                                </div>
                               
                               </div>
                               <div>
                                <p style="font-weight:600;">
                                    {{data.title|safe}}
                                </p>
                            </div>
                           

















                               <div class="mt-2" style="display: flex; justify-content: space-between;">
                                   <!-- Button trigger modal -->
                       <div style="display: flex; flex-direction: row;">
                        <p style="font-size: 13px; margin-left:5px; margin-top: 18px; font-weight: 600;">{{data.user_question_4.all.count}} Anwsers</p>
                        <a class="ml-2 mt-3" onclick="like('{{data.title}}','{{forloop.counter}}')" id="like{{forloop.counter}}" style="font-size: 13px; {% if request.user in data.liked.all %}color:red;{%endif%}">
                            <i class="fa fa-thumbs-up"></i>
                            {{data.liked.all.count}}
                        </a> 
                     
                        <a class="ml-1" onclick="bookmarks('{{data.title}}','{{forloop.counter}}')" id="book{{forloop.counter}}" style="margin-top:12px;font-size: 13px; color: {% if data in request.user.profile.favourities.all %} red; {%else %} {% endif %}"> <i class="fa fa-bookmark p-1 my-1 mr-3  myhover" ></i></a>
                    </div>
                        <div>
                        <a href="/discussion/{{data.id}}/" class="btn btn-sm btn-outline-primary">
                            Anwser <i class="fa fa-arrow-right" aria-hidden="true"></i> 
                        </a>
                       </div>
                
                                                    </div>
                                                    <div class="incenter-extra" style="margin-top: -10px;">
                                                        <div class="incenter-extra-subparts">
                                                            {% for i in data.tags|remove %}
                                                            <a class="btn btn-sm btn-outline-primary" href="/hashtags/{{i|strip|capfirst|addhyphen}}/" style="font-size: 10px; padding:2px;  ">
                                                                {{i|strip|capfirst}} 
                                                            </a>
                                                            {% endfor %}
                                                            <a class="fa-fa-alt"> 
                                                            </a>
                                                        </div>
                                                    </div>
                            <hr>
                            <hr>
                            <div >

                               
                                   {% for i in data.user_question_4.all|getlatest %}
                            
                                {% if i.explanation %}
                                <div id="anwser{{data.id}}{{i.id}}" style="border-bottom:1px solid rgb(0,0,0,0.1);">
                                   <div class="mt-4" style="display: flex; justify-content: space-between;">
                                    <div style="display: flex; justify-content: flex-start; align-items: center;">
                                        
                                        <a href="/profile/{{i.user_anwser}}/"> <img style="margin-top: -15px;" src="/media/{{i.user_anwser.profile.avatar}}" class="imge">
                                            <div style="display: flex; flex-direction: column;">
                                                <div style="display: flex; justify-content: flex-start; padding-bottom:-10px; "> 
                                          <p style="font-size: 14px; margin-left: 10px; "> Anwsered by <span><a href="/profile/{{data.user_name2}}/">{{i.user_anwser.profile.first_name}} {{i.user_anwser.profile.last_name}}</a></span>,</p>
                                          <p style="font-size: 12px; margin-left: 3px;  color:#808080;">{{i.time}}, {{i.date}}</p>
                                        </div>
                                        <div style="margin-top:-15px;"> 
                                            <p style="font-size: 12px; margin-left: 10px;  color:#808080;">{{i.user_anwser.profile.headline}}, {{i.user_anwser.profile.college}}</p>
                                        </div>
                                        </div>
                                    </div>
                                    <div style="font-size: 13px;">
                                        <div class="dropdown show">
                                            <a style="" class="btn btn-default rounded-pill" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i style="color:#808080;" class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                          
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size: 12px;">
                                              <a class="dropdown-item" href="#">Action</a>
                                              <a class="dropdown-item" href="#">Another action</a>
                                              <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                          </div>
                                    </div>


                                   </div >
                                   <p style=""> {{i.explanation|safe}}
                                </p>

                                <div style="display: flex; justify-content: flex-end;">
                                  
                                    <p style="margin-left:10px; font-size: 13px; color:#808080">{{i.discussion.all.count}} Comments</p>
                                </div>
                                <div class="mb-3">
                                    <a style="text-decoration:none; margin-left:10px; font-size: 15px; color:#808080" data-toggle="collapse" href="#commentdrop{{i.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="fa fa-comment" aria-hidden="true"></i> Comment
                                      </a>
                                </div>
                                <div id="commentdrop{{i.id}}" class="collapse">
                            <div class="">
                                <form method="POST" action="?flag=2">
                                    {% csrf_token %}
                                    <div class="form-group" style="display: flex; justify-content: space-between; flex-direction: row;" >
                                        <a href="/profile/{{user}}/"> <img style="" src="/media/{{user.profile.avatar}}" class="imge">
                                        </a>
                                        <input type="hidden" value="{{i.id}}" name="commentid">
                                        <textarea required name ="commentbody" style="resize:none; height:40px; border-radius: 30px; overflow: hidden;" class=" ml-2  mr-2 form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Add a comment.."></textarea>
                                        <button type="submit" class=" btn  btn-outline-primary rounded-pill">Post</button>
                                      </div>
                                    </form>
                               

                            </div>
                            
                            <ul class="comment-list ml-5 list-unstyled" id="discussion{{i.id}}">

                             {% for df in i.discussion.all %}
                             {% if not df.parent %}
                             <li class="comment" >
                                 <div style="display:flex; flex-direction: row; width: 100%;">
                                 <div>
                                    <a href="/profile/{{df.user_discussion}}/"> <img style="" src="/media/{{df.user_discussion.profile.avatar}}" class="imge">
                                    </a>
                                 </div>
                            <div class="comment-body  ml-2" style="width: 100%; background-color: #F1F1F1;">
                                <div class="card-body " style="width: 100%; margin-top: -10px; margin-bottom:-20px;">
                                    <div style="display: flex; flex-direction: column;">
                                        <div style="display: flex; justify-content: flex-start; padding-bottom:-10px; "> 
                                 <p style="font-size: 13px; margin-left: 10px; "><a href="/profile/{{df.user_discussion}}/"> {{df.user_discussion.profile.first_name}} {{df.user_discussion.profile.last_name}} </a>,</p>
                                 <p style="font-size: 12px; margin-left: 3px;  color:#808080;">{{df.created}}</p>
                                </div>
                                <div style="margin-top:-15px;"> 
                                    <p style="font-size: 12px; margin-left: 10px;  color:#808080;">{{df.user_discussion.profile.headline}}, {{df.user_discussion.profile.college}}</p>
                                </div>
                                </div>
                                   <p style="margin-left:10px; font-size:14px;">
                                    {{df.body|safe|linebreaksbr}}
                                   </p> 
                                </div>
                                    
                            </div>
                            
                        </div>
                        <div style="display: flex;flex-direction: row;">
                            <div >
                                <button data-toggle="collapse" data-target="#replybox{{i.id}}{{forloop.counter}}" class="btn btn-sm btn-outline-primary ml-5 mt-2" style="font-size: 10px; padding:3px;">Reply</button>
                                

                            </div>
                            <div>
                                <p style="font-size: 10px; margin-top: 12px; margin-left:3px;padding:0px;">
                                    {{df.children.all.count}} {% if df.children.all.count > 1 %}Replies{% else %}Reply{% endif %}
                                </p>
                             </div>
                        </div>
                        <div id="replybox{{i.id}}{{forloop.counter}}" class="collapse" >
                            <form method="POST" action="?flag=3">
                                {% csrf_token %}
                                <div class="form-group" style="display: flex; justify-content: space-between; flex-direction: row;" >
                                    <a href="/profile/{{user}}/"> <img style="" src="/media/{{user.profile.avatar}}" class="imge">
                                    </a>
                                    <input type="hidden" value="{{i.id}}" name="replyid">
                                    <input type="hidden" value="{{df.id}}" name="childid">
                                    <textarea required name ="replybody" style="resize:none; height:40px; border-radius: 30px; overflow: hidden;" class=" ml-2  mr-2 form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Add a comment.."></textarea>
                                    <button type="submit" class=" btn  btn-outline-primary rounded-pill">Post</button>
                                  </div>
                                </form>
                           

                        </div>
                            <ul class="children list-unstyled ml-5 mb-2 mt-2" id="replydiscussion{{df.id}}">
                                {% for dfc in df.children.all %}
                                    <li class="comment mt-1">
                                        <div style="display:flex; flex-direction: row; width: 100%;">
                                            <div>
                                               <a href="/profile/{{dfc.user_discussion}}/"> <img style="" src="/media/{{dfc.user_discussion.profile.avatar}}" class="imge">
                                               </a>
                                            </div>
                                       <div class="comment-body  ml-2" style="width: 100%; background-color: #F1F1F1;">
                                           <div class="card-body " style="width: 100%; margin-top: -10px; margin-bottom:-20px;">
                                            <div style="display: flex; flex-direction: column;">
                                                <div style="display: flex; justify-content: flex-start; padding-bottom:-10px; "> 
                                         <p style="font-size: 13px; margin-left: 10px; "><a href="/profile/{{dfc.user_discussion}}/"> {{dfc.user_discussion.profile.first_name}} {{dfc.user_discussion.profile.last_name}} </a>,</p>
                                         <p style="font-size: 12px; margin-left: 3px;  color:#808080;">{{dfc.created}}</p>
                                        </div>
                                        <div style="margin-top:-15px;"> 
                                            <p style="font-size: 12px; margin-left: 10px;  color:#808080;">{{dfc.user_discussion.profile.headline}}, {{dfc.user_discussion.profile.college}}</p>
                                        </div>
                                        </div>
                                            <div class="ml-2">
                                                    <p class="" style="margin-left:4px;font-size: 14px; ">
                                                        {{dfc.body}}
                                                    </p>
                                            </div>
                                             
                                           </div>
                                               
                                       </div>
                                   </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            </li>
                            {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                            </div>
                            
                                {% endif %}
                                   {% endfor %}
                                

                            </div>

                        
                                                    
                                                </div>
                                            </div> 
                                            {% endfor %}
                                            </div>

                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div>
                                            </div>
                                        </div>


                                
                                </div>
                                <div class="col-12 col-md-2 col-xl-2">
                                    <!--
                                    <div class="card">
                                        <div class="card-body">
                                            <form method="POST" action="?flag=1">
                                                {% csrf_token %}
                                                {{categoryform|crispy}}
                                                <button type="submit" class="btn btn-sm btn-outline-primary">Add Category</button>
                                            </form>
                                        </div>
                                    </div>
                                    -->
                                    
                                </div>
                            </div>
</div>
{% endblock %}