{% extends 'coding/base.html' %}
{% load static %}
{% block navbar %}
{% include 'coding/header.html' %}

{% endblock %}
{% block style %}
.my_img{
    width:100%;
    height:250px;
}
li{
margin:2px;
}
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-xm-12 mt-4">
        <center>
            <h3>Learn Quanitative Aptitude : Practise Questions,Mocks, Learn Formulas and Tricks</h3>
        </center>
        </div>
    </div>

</div>
<section class="pt-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4">
            <img class="my_img" src="{% static  'coding/svg/undraw_discount_d4bd.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Numbers</h1>
          <br>
          
        <ol>
            <li>HCF and LCM  
                <a href="/aptitude/Quants/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Formulas and Tricks</a>
            </li>
            <li>Number System
                <a href="/aptitude/Quants/questions/Number_System/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Quants/formulas/Number_System/" class="btn btn-sm btn-outline-warning">Formulas and Tricks</a>
            </li>
            <li>Decimal and Fractions
                <a href="/aptitude/Quants/questions/Decimal and Fractions/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Quants/formulas/Decimal_and_Fractions/" class="btn btn-sm btn-outline-warning">Formulas and Tricks</a>
            </li>
            <li>Surds and Indices
                <a href="/aptitude/Quants/questions/Surds_and_Indices/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Quants/formulas/Surds_and_Indices/" class="btn btn-sm btn-outline-warning">Formulas and Tricks</a>
            </li>
            <li>Divisibility
                <a href="/aptitude/Quants/questions/Divisibility/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Quants/formulas/Divisibility/" class="btn btn-sm btn-outline-warning">Formulas and Tricks</a>
            </li>
            <li>Decimal and Fractions
                <a href="/aptitude/Quants/questions/Decimal_and_Fractions/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Quants/formulas/Decimal_and_Fractions/" class="btn btn-sm btn-outline-warning">Formulas and Tricks</a>
            </li>
            <li>Ages
                <a href="/aptitude/Quants/questions/Ages/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Quants/formulas/Ages/" class="btn btn-sm btn-outline-warning">Formulas and Tricks</a>
            </li>
            <li>Inverse
                <a href="/aptitude/Quants/questions/Inverse/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Quants/formulas/Inverse/" class="btn btn-sm btn-outline-warning">Formulas and Tricks</a>
            </li>
         

            

        </ol>
          
        </div> 
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 mb-5 pb-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4 order-sm-last">
            <img class="my_img" src="{% static  'coding/svg/undraw_speed_test_wxl0.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Speed and Work</h1>
               
        <ol>
            <li>Speed, Time and Distance</li>
            <li>Time and Work</li>
            <li>Boat and Streams</li>
            <li>Pipes and Cisterns</li>
          
         

            

        </ol>
        </div> 
        </div>
      </div>
    </div>
  </section>
<section class="pt-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4">
            <img class="my_img" src="{% static  'coding/svg/undraw_Growing_qwt2.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Progression</h1>
             
        <ol>
            <li>Airthmetic Progression</li>
            <li>Geometric Progression</li>
            <li>Harmonic Progresson</li>
          
         

            

        </ol>
        </div> 
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5 mb-5 pb-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4 order-sm-last">
            <img class="my_img" src="{% static  'coding/svg/undraw_mathematics_4otb.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Advance Mathematics.</h1>
 
          <ol>
            <li>Averages</li>
            <li>Alligation and Mixtures</li>
            <li>ration and Proportions</li>
            <li>Simple Interest</li>
            <li>Compound Interest</li>
            <li>Percentages</li>
            <li>Profit and Loss</li>
            <li>Successive Discount 1</li>
            <li>Successive Discount 2</li>
            
         

            

        </ol>
        </div> 
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4">
            <img class="my_img" src="{% static  'coding/svg/undraw_detailed_analysis_xn7y.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Probability, Combinations and Permutations</h1>
             
        <ol>
            <li>Probability</li>
            <li>Permutations</li>
            <li>Combinations</li>
            
         

            

        </ol>
        </div> 
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5 mb-5 pb-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4 order-sm-last">
            <img class="my_img" src="{% static  'coding/svg/undraw_circles_y7s2.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Geometry</h1>
          <ol>
            <li>Geometry</li>
            <li>Height and Distances</li>
            <li>Perimeter, Area and Volume</li>
            <li>Coordinate Geometry</li>
            <li>Venn Diagrams</li>
            <li>Set Theory</li>
            
         

            

        </ol>
          
        </div> 
        </div>
      </div>
    </div>
  </section>
  
  <section class="pt-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4">
            <img class="my_img" src="{% static  'coding/svg/undraw_result_5583.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Equations</h1>
          <ol>
            <li>Algebra</li>
            <li>Linear Equations</li>
            <li>Quardatic Equations</li>
            
            
         

            

        </ol>
             
        
        </div> 
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5 mb-5 pb-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4 order-sm-last">
            <img class="my_img" src="{% static  'coding/svg/undraw_completed_steps_yurw.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Misc.</h1>
          <ol>
            <li>Logarithms</li>
            <li>Clocks</li>
            <li>Calendars</li>
            <li>Find Remainder of large Powers</li>
          
            
         

            

        </ol>
         
        </div> 
        </div>
      </div>
    </div>
  </section>
{% endblock %}