{% extends 'coding/base.html' %}
{% load static %}
{% block navbar %}
{% include 'coding/header.html' %}

{% endblock %}
{% block style %}
.my_img{
    width:100%;
    height:250px;
}
li{
margin:2px;
}
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-xm-12 mt-4">
        <center>
            <h3>Learn Verbal Aptitude : Practise and Master</h3>
        </center>
        </div>
    </div>

</div>
<section class="pt-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4">
            <img class="my_img" src="{% static  'coding/svg/undraw_discount_d4bd.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Grammer</h1>
          <br>
          
        <ol>
            <li>Basic and Grammer 
                <a href="/aptitude/Verbal/questions/Basic_and_Grammer/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            </li>
            <li>Speech and Voices
                <a href="/aptitude/Verbal/questions/Number_System/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Verbal/formulas/Number_System/" class="btn btn-sm btn-outline-warning">Rules</a>
            </li>
            <li>Tenses
                <a href="/aptitude/Verbal/questions/Decimal and Fractions/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Verbal/formulas/Decimal_and_Fractions/" class="btn btn-sm btn-outline-warning">Rules</a>
            </li>
            <li>Articles
                <a href="/aptitude/Verbal/questions/Surds_and_Indices/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Verbal/formulas/Surds_and_Indices/" class="btn btn-sm btn-outline-warning">Rules</a>
            </li>
            <li>Idioms and Phrases
                <a href="/aptitude/Verbal/questions/Divisibility/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Verbal/formulas/Divisibility/" class="btn btn-sm btn-outline-warning">Rules</a>
            </li>
            <li>Subject Verb Agreement
                <a href="/aptitude/Verbal/questions/Decimal_and_Fractions/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Verbal/formulas/Decimal_and_Fractions/" class="btn btn-sm btn-outline-warning">Rules</a>
            </li>
            <li>Prepositions and Conjunction
                <a href="/aptitude/Verbal/questions/Ages/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/aptitude/Verbal/formulas/Ages/" class="btn btn-sm btn-outline-warning">Rules</a>
            </li>
          
         

            

        </ol>
          
        </div> 
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 mb-5 pb-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4 order-sm-last">
            <img class="my_img" src="{% static  'coding/svg/undraw_speed_test_wxl0.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Sentences</h1>
               
        <ol>
            <li>Sentences Ordering
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            <li>Contextual Vocabulary
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            <li>Jumbled Sentence
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            <li>Sentence Formation
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            <li>Error Identification
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            <li>Sentence Improvement and Construction
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
          
         

            

        </ol>
        </div> 
        </div>
      </div>
    </div>
  </section>
<section class="pt-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4">
            <img class="my_img" src="{% static  'coding/svg/undraw_Growing_qwt2.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Paragraphs</h1>
             
        <ol>
            <li>Cloze Test
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            <li>Fill in the blanks
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            <li>Paragraph Ordering
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            <li>Para Jumbles
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
          
         

            

        </ol>
        </div> 
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5 mb-5 pb-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4 order-sm-last">
            <img class="my_img" src="{% static  'coding/svg/undraw_mathematics_4otb.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Synonyms and Antonyms</h1>
 
          <ol>
            <li>Synonyms
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            <li>Antonyms
                <a href="/aptitude/Verbal/questions/HCF_and_LCM/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            
            
         

            

        </ol>
        </div> 
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4">
            <img class="my_img" src="{% static  'coding/svg/undraw_detailed_analysis_xn7y.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Reading Comprehension</h1>
             
        <ol>
            <li>Reading Comprehension
                <a href="/aptitude/Verbal/questions/Reading_Comprehension/" class="btn btn-sm btn-outline-warning">Questions</a>
                
                <a href="/article/admin/Method_to_find_HCF_and_LCM_-_Important_Formulas_and_Tricks/" class="btn btn-sm btn-outline-warning">Rules</a>
            
            </li>
            
         

            

        </ol>
        </div> 
        </div>
      </div>
    </div>
  </section>

{% endblock %}